<% include partials/header %> 
<div class="ui main text container segments">
    <div class="ui container">
        <form method="post" action="/blogs" class="ui form ">
            <div class="field">
                <input type="text" name="blog[title]" placeholder="title" id="" required>
            </div>
            <div class="field">
                
                <input type="text" name="blog[img]" placeholder="image" id="" required>
            </div>
            <div class="field">

                <textarea name="blog[body]" placeholder="body" required id=""></textarea>
            </div>
            <div class="field">
                
                <input type="submit" name="" id="" class="ui voilet basic big button ">
            </div>
        </form>
    </div>
</div>