<% include partials/header %> 
<br>
<br>
<br>

<div class="container ">

        <form method="post" class="form-control" action="/blogs">

                <input type="text" name="blog[title]" class="form-control" placeholder="enter BLOG title" id="" required>
                 <br>
                <input type="text" class="form-control" name="blog[img]" placeholder="enter IMG url" id="" required>
                <br>
                <textarea name="blog[body]" class="form-control" placeholder="Enter body of blog" required id=""></textarea>
                <br>
                <input type="submit" name="" id=""class="form-control" >
            
        </form>
</div>
