<% include partials/header %>

<div class="container-fluid">
    <br><br><br><br>
    <div class="jumbotron">
        
        
        <h1 class="text-center"><%= newBlog.title.toUpperCase()%></h1>
        <hr>
        <center>
            <img class="img thumbnail" src="<%= newBlog.img %>" alt="blog img">
        </center>
        <hr>
        
        <p class="text-justify" style="text-align: justify">
            <%-  newBlog.body %>
        </p>
        <div class="text-right">
           <b> <%-  newBlog.created.toDateString() %></b>
        </div>
    </div>
 
</div>


<% include partials/footer %> 
